@{
    ViewData["Title"] = "Unit Converter";
}

<h1>Bienvenido a Unit Converter</h1>

<ul>
    <li><a asp-controller="Converter" asp-action="Length">Convertidor de longitud</a></li>
    <li><a asp-controller="Converter" asp-action="Weight">Convertidor de peso</a></li>
    <li><a asp-controller="Converter" asp-action="Temperature">Convertidor de temperatura</a></li>
</ul>
